{% extends "base.html" %}

{% block title %}
Contacto
{% endblock %}
 
{% block content %}
<!-- Image Showcases -->
<section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/media/bg-showcase-4.png');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Acerca de Nosotros</h2>
            <p class="lead mb-0">Directorio Virtual nace en el año 2017 con el objetivo de brindar información de contactos comerciales, ofreciendo a sus clientes la oportunidad de llegar de manera directa y rápida a su público objetivo, permitiéndoles actualizar su información en el lugar y momento que lo deseen.</p>
          </div>
        </div>
        
        
      </div>
    </section>
{% endblock %}
