{% extends "base.html" %}

{% block title %}
Contacto
{% endblock %}
 
{% block content %}
<!-- Image Showcases -->
<section class="showcase">
	<div class="container-fluid p-0">
		<div class="container-fluid p-0">
		    <div class="row no-gutters">
		      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
		        <h2>Información de Contacto</h2>
		        <p class="lead mb-0"><b>Directorio Virtual</b></p>
		        <p class="lead mb-0"><b>Email: </b>info@directoriov.com</p>
		        <p class="lead mb-0"><b>Móvil: </b>999 910 123</p>
		      </div>
		    </div>
		</div>
	</div>
</section>
{% endblock %}
